
<!-- 			<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a><i class="fa fa-angle-right"></i>Tabels</li>
            </ol> -->

<section class="container">
	<div class="row" style="margin-top: 30px; background-color: #fff;">
		<div class="ht-img-lg col-lg-6 col-sm-12 hvr-grow">
			<img src="img/detail-sample.jpg" alt="" style="width:100%; height:75%;">
			<form>
			  <div class="form-group">
			    <label for="exampleFormControlFile1">Chọn ảnh đại diện</label>
			    <input type="file" class="form-control-file" id="exampleFormControlFile1">
			  </div>
			</form>
		</div>
		<div class="ht-info-detail col-lg-6 col-sm-12">
			<h5>Tên sản phẩm:</h5>
			<input type="text" value="Áo thun nam trắng - League Legends" style="width: 100%;">
			<h6 style="color:gray; margin-left: 10px">Mã sản phẩm:</h6>
			<input type="text" value="AO001" style="width: 100%;">
			<h6 style="color:gray; margin-left: 10px">Nhà sản xuất:</h6>
			<input type="text" value="TML company" style="width: 100%;">
			<!-- <h6 style="color:gray; margin-left: 10px">Tình trạng:</h6>
			<input type="text" value="còn hàng" style="width: 100%;"> -->
			<h6 style="color:gray; margin-left: 10px">Gía (VND):</h6>
			<input type="text" value="207.000" style="width: 100%;">
			
			<h5 style="margin-top: 20px;  font-size:1em">Chọn các kích cỡ: </h5>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
			  <label class="form-check-label" for="inlineCheckbox1">S</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
			  <label class="form-check-label" for="inlineCheckbox2">M</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
			  <label class="form-check-label" for="inlineCheckbox3">L</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
			  <label class="form-check-label" for="inlineCheckbox4">XL</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
			  <label class="form-check-label" for="inlineCheckbox5">XXL</label>
			</div>
			<h5><br/>Số lượng: <input type="number" name="quantity" style="width: 60px; height:30px; padding-left: 10px; margin-left: 20px"></h5>
			<button class="btn btn-primary ht-add-cart-admin" id="ht-save-product">Lưu thay đổi</button>
			<button class="btn btn-danger ht-del-cart-admin">Xóa sản phẩm</button>


		</div>
	</div>
	<div class="row ht-more-info" style="background-color: #fff; margin-top: 16px;">
		<h5 style="width: 100%;">Mô tả:</h5>
		<textarea style="width: 100%; height: 200px; overflow: scroll; padding: 10px; margin: 10px">
Với thiết kế trẻ trung, năng động, áo thun League Legends sẽ tạo cho khách hàng của bạn cảm giác thoải mái nhất khi mặc.
Sản phẩm được làm từ chất liệu thun cotton thoáng mát và đàn hồi cực tốt giúp tạo cảm giác thoải mái nhất cho người mặc mà gía thành lại không quá cao. Những thiết kế riêng và logo được các bạn đưa ra sẽ được in miễn phí lên áo với những công nghệ in hàng đầu, đảm bảo hình in sắc nét, bền màu và làm nổi bật mục tiêu marketing của công ty  bạn ngay từ cái nhìn đầu tiên.
		</textarea>
	</div>
</section>