<link rel="stylesheet" type="text/css" href="/css/ht-style.css">
<link rel="stylesheet" type="text/css" href="/css/hover-button.css">
<link rel="stylesheet" href="/css/hover-min.css">
<section class="container" style="margin-top: 15px; padding: 20px;">
	<form class="form-inline my-2 my-lg-0 ht-search-form" style="padding-bottom: 30px;">
      <input id="ht-search" class="form-control mr-sm-2 ht-search-shopping" type="search" placeholder="Tìm kiếm" aria-label="Search">
    </form>
	<form id="ht-type-tshirt">
		<div class="checkbox" style="display: inline-block;">
		  <label class="ht-type ht-checkbox"><input name="type-tshirt" type="radio" value="polo">Áo cổ trụ</label>
		</div>
		<div class="checkbox" style="display: inline-block;">
		  <label class="ht-type ht-checkbox"><input name="type-tshirt" type="radio" value="tee">Áo cổ tròn</label>
		</div>
	</form>
	<div class="row" style="margin-left: 10px; margin-right: 10px; padding-bottom: 10px; border-bottom: solid 0.5px darkgray;">
		<div class="col-sm-4" style="font-weight: bold;"> {{count}} sản phẩm</div>
		<div class="col-sm-5">
			<a href="admin-product"><button class="btn btn-secondary">Thêm sản phẩm</button></a>
		</div>
		<div class="col-sm-3" style="padding: 0;">
			<div class="dropdown show" style="width: 100%; ">
			  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; padding: 0; border: solid 1px #ff6600;"> Sắp xếp theo </a>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; text-align: center;">
			    <a class="dropdown-item ht-sort active" href="#" value="newest">Mới nhất</a>
			    <a class="dropdown-item ht-sort" href="#" value="lowest">Giá từ thấp đến cao</a>
			    <a class="dropdown-item ht-sort" href="#" value="highest">Giá từ cao đến thấp</a>
			  </div>
			</div>
		</div>
	</div>
	<div class="row" style=" padding-top: 40px;">
		{{#each lists}}
			{{>product-admin}}
		{{/each}}
	</div>
	{{#if needPage}}
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1">Previous</a>
	    </li>
	    {{#each pages}}
	    <li class="page-item {{#if active}}active{{/if}}">
	    	<a class="page-link" href="?page={{number}}">{{number}}</a>
	    </li>
	    {{/each}}
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
	{{/if}}
</section>
<link rel="stylesheet" href="css/ht-style.css">
<script type="text/javascript" src="/js/shopping.js"></script>
