<!--<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="">Home</a><i class="fa fa-angle-right"></i>Tabels</li>
</ol> -->

<div class="agile-grids">	
	<!-- tables -->				
	<div class="agile-tables">
		<div class="w3l-table-info">
		  <div class="row">
		  <h2 class="col-sm-8">Quản lý tài khoản</h2>
		  <div class="col-sm-1"> <button class="btn btn-primary" style="margin-right: 30px;"><i class="fa fa-undo"></i></button></div>
		  <div style="color: #ff4a43;font-size: 30px;" class="sm-col-3">4 User</div>
		  </div>
		    <table id="table">
			<thead>
			  <tr>
				<th>Họ tên</th>
				<th>Email</th>
				<th>Tuổi</th>
				<th>Giới tính</th>
				<th>Trạng thái</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Thiên Bảo</td>
				<td>baobeo123@gmail.com</td>
				<td>30</td>
				<td>Nam</td>
				<td><a href="#" class="badge badge-secondary">Offline</a></td>
				
			  </tr>
			  <tr>
				<td>Huỳnh Anh</td>
				<td>huynhanh@gmail.com</td>
				<td>22</td>
				<td>Nữ</td>
				<td><a href="#" class="badge badge-success">Online</a></td>
				
			  </tr>
			  <tr>
				<td>Naruto</td>
				<td>sasuke@gmail.com</td>
				<td>27</td>
				<td>Nam</td>
				<td><a href="#" class="badge badge-success">Online</a></td>
				
			  </tr>
			  <tr>
				<td>Hamlet Truong</td>
				<td>wtf@gmail.com</td>
				<td>17</td>
				<td>Nam</td>
				<td><a href="#" class="badge badge-secondary">Offline</a></td>
				
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
	<!-- //tables -->
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</div>