<div class="card col-lg-3 col-md-6  col-sm-12 ht-card">
    <div class="hovereffect">
        <img class="card-img-top ht-card-img img-responsive" src="{{this.imagePath}}" alt="Card image cap">
        <div class="overlay">
           <h2>Free Style</h2>
           <a class="info" href="/product/SP00{{this._id}}">Xem chi tiết</a>
        </div>
    </div>
	<a href="./product">
	  <div class="card-body">
	    <p class="card-text ht-card-p">{{this.title}}</p>
	  </div>
	</a>
</div>