<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="/css/ht-style.css">
    <link rel="stylesheet" type="text/css" href="/css/hover-button.css">
    <link rel="stylesheet" href="/css/hover-min.css">
    <script type="text/javascript" src="/js/popper.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
  </head>
  <body>
    {{>header}}
    <div style="min-height: 500px;">
    {{{body}}}
    </div>
    {{>footer}}
  </body> 
</html>
