<section style="padding-top: 60px; padding-bottom: 60px;">
    <div class="container justify-content-center" >
        <div class="cart-title">
            <h1>Giỏ hàng</h1>   
        </div>

        <div class="list-item list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="/img/sample05.jpg" style="width: 200px;" />
                        </div>
                        <div class="col-md-4">
                            <div>
                                ÁO THUN NAM 3D THÁI LAN in hình sói yêu thương
                            </div>
                            <div>
                                Size XL
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="1"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">150000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button class="close-btn ">
                                X
                            </button>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="/img/sample08.jpg" style="width: 200px;"/>
                        </div>
                        <div class="col-md-4">
                            <div>
                                 ÁO THUN SỌC TAY LỞ FORM RỘNG DÀI IN BÒ SỮA
                            </div>
                            <div>
                                Size M
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="1"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">80000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button>
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="total-info" style="padding-top: 30px;">
            <h4>Tổng giá tiền: </h4>
            <h4 class="overall-total-price">230000 VNĐ</h4>
            <button class="payment btn btn-primary">Thanh toán</button>
            <button class="buy-more btn btn-outline-primary">Mua thêm</button>
        </div>
    </div>

</section>

<script type="text/javascript" src="/js/ht-script.js"></script>