<script src="https://js.stripe.com/v3/"></script>
<style type="text/css" href="/css/checkout.css"></style>
<div class="container" style="padding-top: 60px; margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <form action="/checkout" method="post" id="payment-form">
          <div style="padding-bottom: 10px;">
            <h3 style="padding-bottom: 20px;background-color: #fff;color: #1ba8ff;font-weight: bold;border-bottom: #1ba8ff solid 1px;border-radius: 0;">
            Thông tin thanh toán
          </h3>
            <label for="card-element" >
              Credit or debit card
            </label>
            <div id="card-element" >
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <div >
                <label for="name">Người nhận:</label>
                <input type="text" name="name" style="width: 100%" required>
            </div>
            <div>
                <label for="address">Địa chỉ:</label>
                <input type="text" name="address" style="width: 100%" required>
            </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
          <button class="btn btn-success" style="width: 100%">Thanh toán</button>
        </form>
      </div>
    </div>
  </div>
  
</div>
{{errMsg}}
<script type="text/javascript" src="js/checkout.js"></script>