<section style="padding-top: 60px">
  <h3 style="margin-left: 10%;margin-top: 2%;">Danh sách đơn hàng</h3>
  <div class="hl-list-state">
    <div class="hl-tab-state">
      <table style="width:100%; margin: 3%">
        <tr>
          <td class="hl-element-state hl-id-state">Mã đơn hàng:</td>
          <td>A2203</td>
          <td rowspan="9"><a class="btn btn-primary" style="color:#fff;" href="member-cart">Xem chi tiết</a></td>
        </tr>
        <tr>
          <td class="hl-element-state">Tổng thanh toán:</td>
          <td style="color: red">500.000 VNĐ</td>
        </tr>
        <tr>
          <td class="hl-element-state">Địa chỉ:</td>
          <td>227 Nguyễn Văn Cừ, Q.5, TP.HCM</td>
        </tr>
        <tr>
          <td class="hl-element-state">Thời gian giao:</td>
          <td>12h00 31/5/2018</td>
        </tr>
        <tr>
          <td class="hl-element-state">Tình trạng:</td>
          <td>
            <span class="hl-comming-state">ĐANG VẬN CHUYỂN</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="hl-tab-state">
      <table style="width:100%; margin: 3%">
        <tr>
          <td class="hl-element-state hl-id-state">Mã đơn hàng:</td>
          <td>A2003</td>
          <td rowspan="9"><a class="btn btn-primary" style="color:#fff;" href="member-cart">Xem chi tiết</a></td>
        </tr>
        <tr>
          <td class="hl-element-state">Tổng thanh toán:</td>
          <td style="color: red">đ100.000</td>
        </tr>
        <tr>
          <td class="hl-element-state">Địa chỉ:</td>
          <td>227 Nguyễn Văn Cừ, Q.5, TP.HCM</td>
        </tr>
        <tr>
          <td class="hl-element-state">Thời gian giao:</td>
          <td>17h00 22/5/2018</td>
        </tr>
        <tr>
          <td class="hl-element-state">Tình trạng:</td>
          <td>
            <span class="hl-accept-state">ĐÃ NHẬN HÀNG</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="hl-tab-state">
      <table style="width:100%; margin: 3%">
        <tr>
          <td class="hl-element-state hl-id-state">Mã đơn hàng:</td>
          <td>A0213</td>
          <td rowspan="9"><a class="btn btn-primary" style="color:#fff;" href="member-cart">Xem chi tiết</a></td>
        </tr> 
        <tr>
          <td class="hl-element-state">Tổng thanh toán:</td>
          <td style="color: red">270.000 VNĐ</td>
        </tr>
        <tr>
          <td class="hl-element-state">Địa chỉ:</td>
          <td>227 Nguyễn Văn Cừ, Q.5, TP.HCM</td>
        </tr>
        <tr>
          <td class="hl-element-state">Thời gian giao:</td>
          <td>14h00 12/5/2018</td>
        </tr>
        <tr>
          <td class="hl-element-state">Tình trạng:</td>
          <td>
            <span class="hl-cancel-state">ĐÃ HỦY</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>